name: Publish Package (PyPI)

on:
  release:
    types: [published]

jobs:
  build_and_publish:
    name: "Build and Publish PyPI package"

    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/jetsontools
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.13
      uses: actions/setup-python@v1
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build jetsontools
      run: |
        python -m build --sdist --wheel --outdir dist/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
